<div class="events-grid">

	<div class="events-grid-item">
		<a href="/events/1" class="event no-underline">
			<div class="event-image" style="background-image: url(/themes/razoom/assets/images/event-thumb.jpeg)"></div>

			<div class="event-inner">
				<div class="event__title">
					<p class="big">Курс «Искусство переговоров и публичной речи»</p>
				</div>

				<div class="event__date"><p class="small">11 - 22 марта</p></div>
			</div>
		</a>
	</div>
	<div class="events-grid-item">
		<a href="/events/1" class="event no-underline">
			<div class="event-image" style="background-image: url(/themes/razoom/assets/images/event-thumb.jpeg)"></div>

			<div class="event-inner">
				<div class="event__title">
					<p class="big">Курс «Эмоциональный интеллект»</p>
				</div>

				<div class="event__date"><p class="small">25 марта - 5 апреля</p></div>
			</div>
		</a>
	</div>
	<div class="events-grid-item">
		<a href="/events/1" class="event no-underline">
			<div class="event-image" style="background-image: url(/themes/razoom/assets/images/event-thumb.jpeg)"></div>

			<div class="event-inner">
				<div class="event__title">
					<p class="big">Курс «Карьера»</p>
				</div>

				<div class="event__date"><p class="small">8 - 19 апреля</p></div>
			</div>
		</a>
	</div>
	<div class="events-grid-item">
		<a href="/events/1" class="event no-underline">
			<div class="event-image" style="background-image: url(/themes/razoom/assets/images/event-thumb.jpeg)"></div>

			<div class="event-inner">
				<div class="event__title">
					<p class="big">Курс «Финансовая грамотность»</p>
				</div>

				<div class="event__date"><p class="small">22 апреля - 8 мая</p></div>
			</div>
		</a>
	</div>
	<div class="events-grid-item">
		<a href="/events/1" class="event no-underline">
			<div class="event-image" style="background-image: url(/themes/razoom/assets/images/event-thumb.jpeg)"></div>

			<div class="event-inner">
				<div class="event__title">
					<p class="big">Курс «Продвижение личного бренда»</p>
				</div>

				<div class="event__date"><p class="small">13 - 24 мая</p></div>
			</div>
		</a>
	</div>

</div>