<div class="swiper-container gallery-slider">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<img src="/themes/razoom/assets/images/event-thumb.jpeg" alt="gallery-main-pic">
			</div>
			<div class="swiper-slide">
				<img src="/themes/razoom/assets/images/news-thumb.jpeg" alt="gallery-main-pic">
			</div>
			<div class="swiper-slide">
				<img src="/themes/razoom/assets/images/event-thumb.jpeg" alt="gallery-main-pic">
			</div>
			<div class="swiper-slide">
				<img src="/themes/razoom/assets/images/news-thumb.jpeg" alt="gallery-main-pic">
			</div>
			<div class="swiper-slide">
				<img src="/themes/razoom/assets/images/event-thumb.jpeg" alt="gallery-main-pic">
			</div>
			<div class="swiper-slide">
				<img src="/themes/razoom/assets/images/news-thumb.jpeg" alt="gallery-main-pic">
			</div>

		</div>
	</div>
	
	<div class="gallery-slider-thumbs mt-2">
		<div class="swiper-container">
			<div class="swiper-wrapper">

					<div class="swiper-slide">
						<img src="/themes/razoom/assets/images/event-thumb.jpeg" alt="gallery-main-pic">
					</div>
					<div class="swiper-slide">
						<img src="/themes/razoom/assets/images/news-thumb.jpeg" alt="gallery-main-pic">
					</div>
					<div class="swiper-slide">
						<img src="/themes/razoom/assets/images/event-thumb.jpeg" alt="gallery-main-pic">
					</div>
					<div class="swiper-slide">
						<img src="/themes/razoom/assets/images/news-thumb.jpeg" alt="gallery-main-pic">
					</div>
					<div class="swiper-slide">
						<img src="/themes/razoom/assets/images/event-thumb.jpeg" alt="gallery-main-pic">
					</div>
					<div class="swiper-slide">
						<img src="/themes/razoom/assets/images/news-thumb.jpeg" alt="gallery-main-pic">
					</div>

			</div>

		</div>
		<!-- Add Arrows -->
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>