<div class="swiper-container gallery-slider">
		<div class="swiper-wrapper">

			{% for image in images %}
				<div class="swiper-slide">
					<img src="{{ image.path }}" alt="gallery-main-pic">
				</div>
			{% endfor %}

		</div>
	</div>
	
	<div class="gallery-slider-thumbs mt-2">
		<div class="swiper-container">
			<div class="swiper-wrapper">

					{% for image in images %}
						<div class="swiper-slide">
							<img src="{{ image.path }}" alt="gallery-main-pic">
						</div>
					{% endfor %}

			</div>

		</div>
		<!-- Add Arrows -->
		<div class="swiper-button-next"></div>
		<div class="swiper-button-prev"></div>
	</div>
</div>