<div class="row news-list">
	{% for i in 0..7 %}
		<div class="col-md-6 col-12 news-item-wrapper">
			<a href="/news/1" class="news-item">
				<div class="news-item__thumb">
					<img src="/themes/razoom/assets/images/news-thumb.jpeg" alt="news-thumb">
				</div>
				<div class="news-item__date">
					<p class="small">18 февраля, 2019</p>
				</div>
				<div class="news-item__title">
					<h3><span>Процесс внедрения и модернизации форм развития и модернизации</span></h3>
				</div>
				<div class="news-item__excerpt">
					<p>Задача организации, в особенности же дальнейшее развитие различных форм деятельности требуют от нас. Задача организации, в особенности же дальнейшее развитие различных форм... </p>
				</div>
			</a>
		</div>
	{% endfor %}
</div>