<div id="topbanner" class="swiper-container topbanner">
	<div class="swiper-wrapper">

		{% for slide in slides %}

		<div class="swiper-slide topbanner-item" style="background-image: url({{slide.image.path}})">

			{% if slide.content %}
			<div class="topbanner-item__content">
				<h1>{{slide.content}}</h1>
			</div>
			{% endif %}

		</div>

		{% endfor %}
	
	</div>
	
	<div class="topbanner-controls-wrapper">
		<div class="topbanner-controls">
			<!-- Add Arrows -->
			<div class="swiper-button-next custom-button-next topbanner-controls__next"></div>
			<div class="swiper-button-prev custom-button-prev topbanner-controls__prev"></div>
			
			<!-- Add Pagination -->
			<div class="swiper-pagination topbanner-controls__pagination"></div>
		</div>
	</div>
</div>