[builderDetails headerContentDetails]
modelClass = "Zotovda\Content\Models\Content"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"

[builderList footerLogos]
modelClass = "Zotovda\Content\Models\FooterLogos"
scope = "-"
scopeValue = "{{ :scope }}"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
displayColumn = "id"
pageNumber = "{{ :page }}"

==
{% set record = headerContentDetails.record %}
{% set footerLogos = footerLogos.records %}


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="{{ './assets/styles.min.css'|theme }}" rel="stylesheet">
	<title>RaZOOM > {% if viewBag.property("pageTitle") %} {{ viewBag.pageTitle }} {% else %} {{this.page.title}} {% endif %}</title>

	{% placeholder head %}
</head>

<header>
	<div class="container">
		<div class="row no-gutters align-items-center">

			{% if record.logo.path %}
				{% content "logo.htm" path=record.logo.path %}
			{% endif %}
	
			<nav class="ml-xl-3 ml-lg-2">
				<div class="row no-gutters nav-list nav-list_horizontal">
					<div class="nav-list-item">
						<a href="{{ 'about'|page }}">
							О проекте
						</a>
					</div>
					<div class="nav-list-item">
						<a href="{{ 'support'|page }}">
							Поддержать
						</a>
					</div>
					<div class="nav-list-item">
						<a href="{{ 'events'|page }}">
							Расписание
						</a>
					</div>
					<div class="nav-list-item">
						<a href="{{ 'news'|page }}">
							Новости
						</a>
					</div>
					<div class="nav-list-item">
						<a href="{{ 'contacts'|page }}">
							Контакты
						</a>
					</div>
				</div>
			</nav>

			{% if record.phone %}
			<div class="ml-auto d-none d-md-block">
				{% content "phone.htm" number=record.phone %}
			</div>
			{% endif %}

			<div class="ml-md-2 ml-auto d-lg-none">
				{% content "burger.htm" %}
			</div>
		</div>
	</div>
</header>

<body>
	{% page %}
</body>

<footer>
	<div class="container">
		<div class="row no-gutters">

			<div class="col-md-3 col nav-list">
				<div class="nav-list-item">
					<a href="{{ 'about'|page }}">О проекте</a>
				</div>
				<div class="nav-list-item mt-2">
					<a href="{{ 'support'|page }}">Поддержать</a>
				</div>
				<div class="nav-list-item mt-2">
					<a href="{{ 'events'|page }}">Расписание</a>
				</div>
			</div>

			<div class="col-md-3 col ml-auto ml-md-0 nav-list">
				<div class="nav-list-item">
					<a href="{{ 'news'|page }}">Новости</a>
				</div>
				<div class="nav-list-item mt-2">
					<a href="{{ 'contacts'|page }}">Контакты</a>
				</div>
			</div>

			<div class="col-md-6">
				<div class="row no-gutters align-items-center">
					<div class="ml-auto d-none d-md-block">
						
						{% if footerLogos %}
							{% for logo in footerLogos %}
								<div class="logo">
									<a href="{{logo.logo_link}}" target="_blank" class="no-underline">
										<img src="{{logo.logo.path}}" alt="logo">
									</a>
								</div>
							{% endfor %}
						{% endif %}
						
					</div>

					{% if record.socials_vk or record.socials_fb or record.socials_in %}
					<div class="ml-auto mr-auto mr-md-0 mt-4 mt-lg-0 socials_bw">
						{% partial "socials.htm" vk=record.socials_vk fb=record.socials_fb in=record.socials_in %}
					</div>
					{% endif %}
				</div>
			</div>

		</div>

		<div class="row no-gutters flex-column flex-md-row mt-5">
			{% if record.email %}
			<div class="mx-auto mx-md-0 mr-md-4 ">
					{% content "email.htm" address=record.email %}
				</div>
			{% endif %}

			{% if record.collaboration_link %}
			<div class="mr-xl-5 mr-0 mt-2 mt-md-0 ml-md-0 mx-auto">
				<a href="{{ record.collaboration_link }}" target="_blank" class="dashed coworking">Подать заявку на сотрудничество</a>
			</div>
			{% endif %}

			<div class="ml-xl-0 ml-lg-4 mx-md-0 mt-2 mt-lg-0 mx-auto">
				<a href="{{ 'privacy'|page }}" class="polytics">Политика конфиденциальности</a>
			</div>

			<div class="ml-auto mt-md-2 mt-5 mx-auto mr-md-0 mt-lg-0">
				<a href="https://zotov.one/" target="_blank" class="credits no-underline">zotovDA</a>
			</div>
		</div>

	</div>
</footer>

<div class="modal-nav-wrapper js-nav-close">

	<div class="modal-nav">
		<div class="modal-nav-header">
			<div class="row align-items-center no-gutters">
				
				{% if record.logo.path %}
					{% content "logo.htm" path=record.logo.path %}
				{% endif %}
				<div class="ml-auto">
					{% content "close.htm" %}
				</div>
			</div>
		</div>

		<div class="modal-nav-list">
			<nav>
					<a href="{{ 'about'|page }}" class="no-underline modal-nav-item">О проекте</a>
				
					<a href="{{ 'support'|page }}" class="no-underline modal-nav-item">Поддержать</a>

					<a href="{{ 'events'|page }}" class="no-underline modal-nav-item">Расписание</a>

					<a href="{{ 'news'|page }}" class="no-underline modal-nav-item">Новости</a>

					<a href="{{ 'contacts'|page }}" class="no-underline modal-nav-item">Контакты</a>
			</nav>

		</div>

		{% if record.phone %}
		<div class="d-md-none modal-nav-contacts row no-gutters justify-content-center">
				{% content "phone.htm" number=record.phone %}
			</div>
		{% endif %}

	</div>
	
</div>

<script>var exports = {};</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ './assets/scripts.min.js'|theme }}"></script>
{% placeholder footer %}

</html>