==
<?php
	
?>
==
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="{{ './assets/styles.min.css'|theme }}" rel="stylesheet">
	<title>RaZOOM > {{ this.page.title }}</title>

	{% placeholder head %}
</head>

<header>
	<div class="container">
		<div class="row no-gutters align-items-center">
			{% content "logo.htm" %}
	
			<nav class="ml-xl-3 ml-lg-2">
				<div class="row no-gutters nav-list nav-list_horizontal">
					<div class="nav-list-item">
						<a href="{{ 'about'|page }}">
							О проекте
						</a>
					</div>
					<div class="nav-list-item">
						<a href="{{ 'support'|page }}">
							Поддержать
						</a>
					</div>
					<div class="nav-list-item">
						<a href="{{ 'events'|page }}">
							Расписание
						</a>
					</div>
					<div class="nav-list-item">
						<a href="{{ 'news'|page }}">
							Новости
						</a>
					</div>
					<div class="nav-list-item">
						<a href="{{ 'contacts'|page }}">
							Контакты
						</a>
					</div>
				</div>
			</nav>

			<div class="ml-auto d-none d-md-block">
				{% content "phone.htm" %}
			</div>

			<div class="ml-md-2 ml-auto d-lg-none">
				{% content "burger.htm" %}
			</div>
		</div>
	</div>
</header>

<body>
	{% page %}
</body>

<footer>
	<div class="container">
		<div class="row no-gutters">

			<div class="col-md-3 col nav-list">
				<div class="nav-list-item">
					<a href="{{ 'about'|page }}">О проекте</a>
				</div>
				<div class="nav-list-item mt-2">
					<a href="{{ 'support'|page }}">Поддержать</a>
				</div>
				<div class="nav-list-item mt-2">
					<a href="{{ 'events'|page }}">Расписание</a>
				</div>
			</div>

			<div class="col-md-3 col ml-auto ml-md-0 nav-list">
				<div class="nav-list-item">
					<a href="{{ 'news'|page }}">Новости</a>
				</div>
				<div class="nav-list-item mt-2">
					<a href="{{ 'contacts'|page }}">Контакты</a>
				</div>
			</div>

			<div class="col-md-6">
				<div class="row no-gutters align-items-center">
					<div class="ml-auto d-none d-md-block">
						
						<div class="logo">
							<a href="http://www.fondpotanin.ru" target="_blank" class="no-underline">
								<img src="/themes/razoom/assets/images/potanin.png" alt="logo">
							</a>
						</div>
						
					</div>

					<div class="ml-auto mr-auto mr-md-0 mt-4 mt-lg-0 socials_bw">
						{% content "socials.htm" %}
					</div>
				</div>
			</div>

		</div>

		<div class="row no-gutters flex-column flex-md-row mt-5">
			<div class="mx-auto mx-md-0">
				{% content "email.htm" %}
			</div>

			<div class="ml-md-4 mr-xl-5 mr-0 mt-2 mt-md-0 mx-auto">
				<a href="https://vk.com/razoom_urfu" target="_blank" class="dashed coworking">Подать заявку на сотрудничество</a>
			</div>

			<div class="ml-xl-5 ml-lg-4 mx-md-0 mt-2 mt-lg-0 mx-auto">
				<a href="{{ 'privacy'|page }}" class="polytics">Политика конфиденциальности</a>
			</div>

			<div class="ml-auto mt-md-2 mt-5 mx-auto mr-md-0 mt-lg-0">
				<a href="https://zotov.one/" target="_blank" class="credits no-underline">zotovDA</a>
			</div>
		</div>

	</div>
</footer>

<div class="modal-nav-wrapper js-nav-close">

	<div class="modal-nav">
		<div class="modal-nav-header">
			<div class="row align-items-center no-gutters">
				
				{% content "logo.htm" %}				

				<div class="ml-auto">
					{% content "close.htm" %}
				</div>
			</div>
		</div>

		<div class="modal-nav-list">
			<nav>
					<a href="{{ 'about'|page }}" class="no-underline modal-nav-item">О проекте</a>
				
					<a href="{{ 'support'|page }}" class="no-underline modal-nav-item">Поддержать</a>

					<a href="{{ 'events'|page }}" class="no-underline modal-nav-item">Расписание</a>

					<a href="{{ 'news'|page }}" class="no-underline modal-nav-item">Новости</a>

					<a href="{{ 'contacts'|page }}" class="no-underline modal-nav-item">Контакты</a>
			</nav>

		</div>

		<div class="d-md-none modal-nav-contacts row no-gutters justify-content-center">
			{% content "phone.htm" %}			
		</div>

	</div>
	
</div>

<script>var exports = {};</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ './assets/scripts.min.js'|theme }}"></script>
{% placeholder footer %}

</html>