title = "О проекте"
url = "/about"
is_hidden = 0
layout = "default"


[builderDetails aboutDetails]
modelClass = "Zotovda\Content\Models\Pages"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"

[builderList factoidsList]
modelClass = "Zotovda\Content\Models\Factoids"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList teamList]
modelClass = "Zotovda\Content\Models\Team"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList reviewList]
modelClass = "Zotovda\Content\Models\Reviews"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

==
{% set content = aboutDetails.record %}
{% set factoids = factoidsList.records %}

{% set team = teamList.records %}
{% set reviews = reviewList.records %}

<div class="wrapper">

	{% if content.about_about_title or content.about_about_content or content.about_slider != "[]" %}
	<div class="sbox">
		<div class="container">

			<div class="col-lg-8 col-12 pl-0">

				{% if content.about_about_title %}
				<div class="sbox__title">
					<h2>{{content.about_about_title}}</h2>
				</div>
				{% endif %}

				{% if content.about_about_content %}
				<div class="content">
					{{content.about_about_content|raw}}
				</div>
				{% endif %}

				{% if content.about_slider != "[]" %}
					{% partial "gallery.htm" images=content.about_slider %}
				{% endif %}

			</div>

		</div>
	</div>
	{% endif %}

	{% if factoids != "[]" %}
		{%partial "factoids.htm" facts=factoids %}
	{% endif %}
	
	{% if team != "[]" %}
	<div class="sbox">
		<div class="container">

			{% if content.about_team_title %}
			<div class="sbox__title">
				<h2>{{content.about_team_title}}</h2>
			</div>
			{% endif %}

			<div class="row team-list">

				{% for member in team %}
				<div class="team-item col-xl-3 col-lg-4 col-md-6 col-12">
					<div class="team-item__thumb">
						<a href="{{member.photo.path}}" data-fancybox="gallery"
							data-caption="{{member.name}}" class="no-underline fancybox">
							<img src="{{member.photo.path}}" alt="team-member-photo">
						</a>
					</div>

					<div class="team-item__name">
						<p class="big"><b>{{member.name}}</b></p>
					</div>

					{% if member.position %}
					<div class="team-item__description">
						<p>{{member.position}}</p>
					</div>
					{% endif %}

				</div>
				{% endfor %}

			</div>
		</div>
	</div>
	{% endif %}

	{% if reviews != "[]" %}
	<div class="sbox">
		<div class="container">

			{% if content.about_review_title %}
			<div class="sbox__title">
				<h2>Отзывы участников</h2>
			</div>
			{% endif %}

			<div class="swiper-container review-list">
				<div class="swiper-wrapper">

					{% for review in reviews %}
					<div class="swiper-slide review-item">
						<div class="review-item-inner">

							<div class="review-item__title">
								<h3>{{review.name}}</h3>
							</div>

							<div class="tags-item">
								<p class="small transparent mb-0">{{review.date}}</p>
							</div>

							<div class="review-item__sticker mt-1">
								<div class="content">
									<p class="my-0">
										{{review.content}}
									</p>
								</div>
							</div>

						</div>
					</div>
					{% endfor %}

				</div>
			</div>

			{% if content.about_write_review_link %}
			<div class="mt-3">
				<div class="row justify-content-center no-gutters">
					<a href="{{content.about_write_review_link}}" target="_blank" class="button">Оставить отзыв</a>
				</div>
			</div>
			{% endif %}

		</div>

	</div>
	{% endif %}

</div>