title = "Контакты"
url = "/contacts"
is_hidden = 0
layout = "default"

[builderDetails pageDetails]
modelClass = "Zotovda\Content\Models\Pages"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"
==
{% set content = pageDetails.record %}

<div class="wrapper">
	<div class="sbox">
		<div class="container">

			{% if content.contacts_title %}
			<div class="sbox__title">
				<h2>{{content.contacts_title}}</h2>
			</div>
			{% endif %}
	
			{% if content.contacts_map_x and content.contacts_map_y %}
			<div class="contacts-map-wrapper">
				<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
				<div class="contacts-map map" id="cont-map" data-coord-x="{{content.contacts_map_x}}" data-coord-y="{{content.contacts_map_y}}"></div>
			</div>
			{% endif %}

			<div class="row">

				{% if content.contacts_address %}
				<div class="col-lg-7 col-md-6 col-12">
					<p class="big"><b>Наш адрес:</b></p>
					<p>{{content.contacts_address}}</p>
				</div>
				{% endif %}
				
				{% if content.contacts_mail %}
				<div class="col-lg-5 col-md-6 col-12">
					<p class="big"><b>Электронная почта:</b></p>
					<a href="mailto:{{content.contacts_mail}}">{{content.contacts_mail}}</a>
				</div>
				{% endif %}

				{% if content.contacts_phone %}
				<div class="col-lg-7 col-md-6 col-12">
					<p class="big"><b>Наши телефоны:</b></p>
					{{content.contacts_phone|raw}}
				</div>
				{% endif %}

				{% if content.contacts_vk or content.contacts_fb or content.contacts_in %}
				<div class="col-lg-5 col-md-6 col-12">
					<p class="big"><b>Мы в социальных сетях:</b></p>
					{% partial "socials.htm" vk=content.contacts_vk fb=content.contacts_fb in=content.contacts_in %}
				</div>
				{% endif %}

			</div>
		</div>
		</div>
</div>