title = "Мероприятия"
url = "/events"
is_hidden = 0
layout = "default"

[builderList]
modelClass = "Zotovda\Events\Models\Events"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "Мероприятий не запланировано"
detailsPage = "eventSingle"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
sortColumn = "created_at"
sortDirection = "desc"

[builderDetails pageDetails]
modelClass = "Zotovda\Content\Models\Pages"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"
==
{% set content = pageDetails.record %}


<div class="wrapper">
	<div class="sbox">
		<div class="container">

			<div class="col-lg-8 col-12">

				{% if content.events_title %}
				<div class="sbox__title">
					<h2>{{content.events_title}}</h2>
				</div>
				{% endif %}
	
				{% if content.events_content %}
				<div class="content">
					{{content.events_content|raw}}
				</div>
				{% endif %}

			</div>

			{% if builderList.records != "[]" %}
			<div class="mt-3">
				{% partial "eventsGrid.htm" 
					records = builderList.records 
					noRecordsMessage = builderList.noRecordsMessage 
					detailsPage = builderList.detailsPage
					detailsKeyColumn = builderList.detailsKeyColumn
					detailsUrlParameter = builderList.detailsUrlParameter 
				%}
			</div>
			{% endif %}

		</div>
	</div>
</div>