title = "News title"
url = "/news/:news_id"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Zotovda\News\Models\News"
identifierValue = "{{ :news_id }}"
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"

[viewBag]
pageTitle = builderDetails.record.title
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="wrapper">
	<div class="sbox pt-2">
		<div class="container">
			{% if record %}

			<div class="col-lg-9 col-12 pl-0">
				{% partial "breadcrumbs.htm" href="news" %}
				<div class="sbox__title">
					<h2>{{record.title}}</h2>
				</div>

				<div class="news__date">
					<p class="small">{{record.created_at}}</p>
				</div>

				<div class="content fr-view">
					{{ record.content|raw }}
				</div>

				<div class="mt-3">
					{% content "share.htm" %}
				</div>

				{% if record.gallery != '[]' %}
					<div class="mt-3">
						{% partial "gallery.htm" images=record.gallery %}
					</div>
				{% endif %}

			</div>

			{% else %}
				{% partial "breadcrumbs.htm" href="news" %}
				<p>
					{{ notFoundMessage }}
				</p>
			{% endif %}

		</div>
	</div>
</div>