title = "Политика конфиденциальности"
url = "/privacy"
is_hidden = 0
layout = "default"

[builderDetails pageDetails]
modelClass = "Zotovda\Content\Models\Pages"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"
==
{% set content = pageDetails.record %}

<div class="wrapper">
	<div class="sbox">
		<div class="container">

			{% if content.privacy_title %}
			<div class="sbox__title">
				<h2>{{content.privacy_title}}</h2>
			</div>
			{% endif %}

			{% if content.privacy_content %}
			<div class="content">
				{{content.privacy_content}}
			</div>
			{% endif %}


		</div>
	</div>
</div>