title = "Поддержать"
url = "/support"
is_hidden = 0
layout = "default"

[builderDetails pageDetails]
modelClass = "Zotovda\Content\Models\Pages"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"

[builderDetails contentDetails]
modelClass = "Zotovda\Content\Models\Content"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"

==
{% set content = pageDetails.record %}
{% set elements = contentDetails.record %}


<div class="wrapper">
	<div class="sbox">
		<div class="container">

			<div class="col-lg-8 col-12 pl-0">

				{% if content.fond_title %}
				<div class="sbox__title">
					<h2>{{content.fond_title}}</h2>
				</div>
				{% endif %}
	
				{% if elements.endaument_link %}
					{% content "payButton.htm" link=elements.endaument_link %}
				{% endif %}
	
				{% if content.fond_content %}
				<div class="content mt-4">
					{{content.fond_content|raw}}
				</div>
				{% endif %}

			</div>

		</div>
	</div>
</div>